In [10]:
#导入需要用到的库
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('Salary_Data.csv')

In [4]:
dataset.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [3]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [6]:
dataset.shape

(30, 2)

In [7]:
X = dataset.iloc[:,0:-1].values 
Y = dataset.iloc[:,-1].values

In [9]:
Y

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

In [ ]:
# 随机数的种子：= int

In [13]:
#将数据分成训练集和测试集，训练集用于训练模型，测试集用于测试训练的模型的效果
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 0)
X_train = X_train.reshape(-1,1)
Y_train = Y_train.reshape(-1,1)

In [14]:
print(X_train.shape,Y_train.shape,X_test.shape,Y_test.shape)

(21, 1) (21, 1) (9, 1) (9,)

In [15]:
regresor = LinearRegression()
regresor.fit(X_train,Y_train) 
#根据模型得出的对应训练集的预测Y值
predict = regresor.predict(X_test.reshape(-1,1))

In [16]:
#模型评估
from sklearn.metrics import r2_score,mean_squared_error
print('r2_score : ' + str(r2_score(Y_test,predict)))
print(mean_squared_error(Y_test,predict))
print(1-mean_squared_error(Y_test,predict)/np.var(Y_test))

r2_score : 0.9740993407213511
23370078.800832972
0.9740993407213511